{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
{% load static%}
<div class="container-fluid flex row ps-md-0">
    <div class="col-lg-6 exclude-image">
        <img class="vh-100 w-100 px-2 mx-auto img-fluid" src="{% static 'images/signout.jpg' %}" alt="chef cooking">
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="forms d-flex align-items-center py-5">
            <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="forms-heading mb-4">{% trans "Sign out" %}</h3>

                <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>
                <form method="POST" action="{% url 'account_logout' %}">
                    <div class="form-floating mb-3">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />


                    </div>
                    {% endif %}
                    <div class="d-grid">
                        <button class="btn btn-lg btn-secondary btn-login text-uppercase fw-bold mb-2" type="submit">{% trans 'Sign out' %}</button>
                    </div>
                </form>



            </div>
        </div>
    </div>
</div>


{% endblock content %}
