{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% load static%}
<div class="container-fluid flex row ps-md-0">
    <div class="col-lg-6 exclude-image">
        <img class="w-100 h-100 d-block mx-auto img-fluid " src="{% static 'images/register.jpeg' %}" alt="chef cooking">
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="forms d-flex align-items-center py-5">
            <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="forms-heading mb-4">{% trans "Sign up" %}</h3>
                <form class="login" method="POST" action="{% url 'account_signup' %}">
                    <div class="form-floating mb-3">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                            {{ field.label_tag }}
                            {% if field.field.widget.input_type != "checkbox" %}
                            {{ field|add_class:"form-control" }}
                            {{ field.errors }}
                            {% else %}
                            {{ field }}
                            {% endif %}
                        </p>
                        {% endfor %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    </div>
                    {% endif %}
                    <div class="d-grid">
                        <button class="btn btn-lg btn-secondary btn-login text-uppercase fw-bold mb-2" type="submit">{% trans "Sign Up" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}