{% extends 'base.html' %}
{% load static%}

{% block title %}Cook with me{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row recipe-box">
        <div class="col-md-4 col-12 recipe_image">
            <img src="{{ recipe.recipe_image.url }}" alt="{{ recipe.title }} ">
        </div>
        <div class="col-md-8  col-12 content">
            <h1>{{ recipe.title }}</h1>
            <p>{{ recipe.content|safe }}</p> 
        </div> 
    </div>
</div>
{% endblock %}