{% extends 'base.html' %}
{% load static%}

{% block title %}Cook with me{% endblock %}

{% block content %}

<div class="container-fluid box-size">
    <div class="row box-size">
        <div class="col-12 title-box box-size">
            <img src="{{ recipe.recipe_image.url }}" alt="{{ recipe.title }}" class="img-fluid w-100">
            <h1>{{ recipe.title }}</h1>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Ingredients <i class="fa-solid fa-plate-wheat"></i></h2>
            <ul>
                <li>400 g spaghetti</li>
                <li>1 tbsp olive oil</li>
                <li>200g pancetta</li>
                <li>75g parmesan cheese</li>
                <li>grated 4 large free-range egg yolks</li>
                <li>beaten</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Method <i class="fa-solid fa-kitchen-set"></i></h2>
            <p>1. Cook the pasta in a pot of boiling salted water until al dente. 2. While the pasta is cooking heat the oil in a frying pan over a medium heat, add the pancetta and fry for 2-3 minutes until golden and crisp. Remove and drain on a plate with kitchen paper. 3. Drain the spaghetti, reserving a little of the cooking water 4. Return the pasta to the saucepan and, working quickly, stir through the egg, pancetta and the Parmesan, reserving some of the cheese to sprinkle on top at the end. 5. When the pasta is thoroughly coated in the egg mixture, season to taste, add remaining Parmesan cheese and serve straight away.</p>
        </div>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
    <path d="M0 50 Q 250 100 500 50 T 1000 50" fill="none" stroke="silver" stroke-width="1"></path>
</svg>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="col">    <div class="row d-flex justify-content-center mt-100 mb-100">
                <div class="col-md-8 col-12">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="card-title">Comments</h2>
                        </div>
                        <div class="comment-widgets">
                            <!-- Comment Row -->
                            <div class="d-flex flex-row comment-row m-t-0">
                                <div class="p-2"><img src="https://i.imgur.com/Ur43esv.jpg" alt="user" width="50" class="rounded-circle"></div>
                                <div class="comment-text w-100">
                                    <h6 class="font-medium">James Thomas</h6> <span class="m-b-15 d-block">This is awesome website. I would love to comeback again. </span>
                                    <div class="comment-footer"> <span class="text-muted float-right">April 14, 2019</span> 
                                    <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                                </div>
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
        </div> 
        </div>
    </div>

</div>

{% endblock %}