{% extends 'base.html' %}
{% load static%}

{% block title %}Cook with me{% endblock %}

{% block content %}

<div class="container-fluid box-size">
    <div class="row box-size">
        <div class="col-12 title-box box-size">
            <img src="{{ recipe.recipe_image.url }}" alt="{{ recipe.title }}" class="img-fluid w-100">
            <h1>{{ recipe.title }}</h1>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Ingredients</h2>
            <p>{{ recipe.content|safe }}</p>
        </div>
        <div class="col-md-6">
            <h2>Method</h2>
            <p>{{ recipe.content_method|safe }}</p>  
        </div>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
    <path d="M0 50 Q 250 100 500 50 T 1000 50" fill="none" stroke="silver" stroke-width="1"></path>
</svg>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="col">    <div class="row d-flex justify-content-center mt-100 mb-100">
                <div class="col-md-8 col-12">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="card-title">Comments</h2>
                        </div>
                        <div class="comment-widgets">
                            <!-- Comment Row -->
                            <div class="d-flex flex-row comment-row m-t-0">
                                <div class="p-2"><img src="https://i.imgur.com/Ur43esv.jpg" alt="user" width="50" class="rounded-circle"></div>
                                <div class="comment-text w-100">
                                    <h6 class="font-medium">James Thomas</h6> <span class="m-b-15 d-block">This is awesome website. I would love to comeback again. </span>
                                    <div class="comment-footer"> <span class="text-muted float-right">April 14, 2019</span> 
                                    <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                                </div>
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
        </div> 
        </div>
    </div>

</div>

{% endblock %}