{% extends 'base.html' %}
{% load static%}

{% block title %}Cook with me{% endblock %}

{% block content %}
<h1 class="register-heading">Recipes</h1>
<div class="row">
    <div class="col-md-3 mt-3"> 
        <div class="card recipe-card">
            <div class="card-img-block">
                <img src="{% static 'images/slide1.jpeg'%}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Recipe Name</h50>
                <p>text about recipe</p>
            </div>
        </div>
      </div>

      <div class="col-md-3 mt-3"> 
        <div class="card recipe-card">
            <div class="card-img-block">
                <img src="{% static 'images/slide1.jpeg'%}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Recipe Name</h50>
                <p>text about recipe</p>
            </div>
        </div>
      </div>

      <div class="col-md-3 mt-3"> 
        <div class="card recipe-card">
            <div class="card-img-block">
                <img src="{% static 'images/slide1.jpeg'%}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Recipe Name</h50>
                <p>text about recipe</p>
            </div>
        </div>
      </div>

      <div class="col-md-3 mt-3"> 
        <div class="card recipe-card">
            <div class="card-img-block">
                <img src="{% static 'images/slide1.jpeg'%}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Recipe Name</h50>
                <p>text about recipe</p>
            </div>
        </div>
      </div>

      <div class="col-md-3 mt-3"> 
        <div class="card recipe-card">
            <div class="card-img-block">
                <img src="{% static 'images/slide1.jpeg'%}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Recipe Name</h50>
                <p>text about recipe</p>
            </div>
        </div>
      </div>

      <div class="col-md-3 mt-3"> 
        <div class="card recipe-card">
            <div class="card-img-block">
                <img src="{% static 'images/slide1.jpeg'%}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Recipe Name</h50>
                <p>text about recipe</p>
            </div>
        </div>
      </div>

      <div class="col-md-3 mt-3"> 
        <div class="card recipe-card">
            <div class="card-img-block">
                <img src="{% static 'images/slide1.jpeg'%}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Recipe Name</h50>
                <p>text about recipe</p>
            </div>
        </div>
      </div>

      <div class="col-md-3 mt-3"> 
        <div class="card recipe-card">
            <div class="card-img-block">
                <img src="{% static 'images/slide1.jpeg'%}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Recipe Name</h50>
                <p>text about recipe</p>
            </div>
        </div>
      </div>

</div>

{% endblock %}
