{% extends 'base.html' %}
{% load static %}
{% block title %}Page not found{% endblock %}

{% block content %}
<div class="container-fluid flex row ps-md-0 vh-100">
    <div class="col-lg-6 exclude-image d-flex align-items-center justify-content-center">
        <img class="d-block mx-auto img-fluid" src="{% static 'images/500.jpg' %}" alt="chef cooking">
    </div>
    <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h1>Oops! Something went wrong.</h1>
            <p>We're experiencing a 500 Internal Server Error. Our team is already on it, working hard to fix the issue.</p>
            <p>In the meantime, you can <a href="{% url 'home' %}">return to the home page</a>.</p>
        </div>
    </div>
</div>

{% endblock %}