{% extends 'base.html' %}
{% load static%}

{% block title %}Cook with me{% endblock %}

{% block content %}
<h1 class="register-heading">Recipes</h1>
<div class="container-fluid flex row">
    {% for recipe in recipes %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3"> 
        <div class="card recipe-card">
            <div class="card-img-block">
                <img src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }}">
            </div>
            <div class="card-body pt-0">
                 <h2 class="title-card"><a href="{% url 'recipe_content' recipe.id %}">{{ recipe.title }}</a></h2>
                 <a href="{% url 'recipe_like' recipe.id %}">
                    {% if user in recipe.likes.all %}
                        <i class="fa-solid fa-heart liked" aria-label="If the heart is red, it indicates that the user has given a like"></i>
                    {% else %}
                        <i class="fa-regular fa-heart liked" aria-label="If the heart is not red, it signifies that the user hasn't given a like."></i>
                    {% endif %}
                 </a> <span>{{ recipe.likes.count }}</span>
            </div>
        </div>
      </div>
      {% endfor %}
</div>
{% endblock %}